.venv-flask
__pycache__/
*.pyc
instance/
*.sqlite3
.env
.env.*
create_secret.py
create_secrets.py
instance/database.db
maigrations/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover